// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

@import "~bootstrap/scss/variables";

//

// Body
//
// Settings for the `<body>` element.

//$body-bg: #171717;
//$body-color: #ffffff;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-size-base: 14px;

//$text-muted: #aaaaaa;

// Links
//
// Style anchor elements.

$link-decoration: none;

// Cards

$card-border-width: 0;
$card-bg: #f7f7f7;

// Customs
//

$sidebar-bg: #f7f7f7;
