@import "bootstrap";

section.sidebar {
  @extend .col-auto;
  @extend .px-0;
  @extend .py-4;

  & {
    background-color: $sidebar-bg;
    min-height: 100vh;
    width: 240px;
  }

  .menu-brand {
    @extend .px-4;

    & {
      color: $body-color;
      font-size: $h4-font-size;
      font-weight: $font-weight-base;
      margin-bottom: 2rem;
    }
  }

  .menu-item {
    @extend .px-4;
    @extend .py-1;

    & {
      color: $text-muted;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: .5px;
      margin-bottom: .5rem;
      position: relative;
    }

    a:link, a:visited {
      color: inherit;
    }

    a:hover {
      color: $body-color;
    }

    &.active {
      & {
        color: $body-color;
      }

      &:after {
        background-color: $primary;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        top: 0;
        width: 5px;
      }
    }

    &.menu-item-header {
      & {
        color: $text-muted;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 1px;
        margin-top: 2rem;
        text-transform: uppercase;
      }

      &:first-of-type {
        margin-top: 0;
      }
    }
  }
}
